node_modules/
.next/
out/
.env
.env.*
.idea/
npm-debug.log*

android/.gradle/
android/.kotlin/
android/build/
android/app/build/
android/app/outputs/
android/app/tmp/
android/app/src/main/assets/public/
android/app/.idea/
android/app/*.keystore
*.keystore
android/app/google-services.json
arquivos_firebase/
